{% extends 'posts/base_post.html' %}

{% block title %}
{{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<div class="">
    <div class="col-md-4">
        <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    
    <div>
        <h1 class="mt-5">
            {{ post.title }}
        </h1>
        <p>
            {{ post.body }}
        </p>
        <p>
            {{ post.author }}
            {{ post.date_pub }}
        </p>
    </div>
</div>
{% endblock %}